.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.header {
  margin: 12px;
  flex-shrink: 0;
}

.content {
  flex: 1;
  min-height: 0;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
}

.scroll {
  height: 100%;
  overflow: auto;
}
